/*Color of Devoured burgers card header*/
#devoured-card-header  {
    background-color: #ca341f;
}

/*Font color of devoured burger names*/
.devoured-burger-name {
    color: #ca341f;
}

/* Use Righteous font from Google fonts*/
body {
    font-family: 'Gravitas One', cursive;
}

/* Font size of app title in jumbotron*/
#app-title {
    font-size: 50px;
}

/*Font size of lead statement in jumbotron*/
.lead {
    font-size: 20px;
}

/*Burger Image*/
#burgerImg{
    width: 150px;
    background-color: transparent;
    vertical-align: baseline;
}

.jumbotron {
    padding: 2rem 1rem;
}

.wishBurger, .devoured-burger-name {
    font-size: 18px;
}

.change-devour, .delete-burger {
    float: right;
    font-size: 13px;
}

/* Burger background image*/
body {
    /*background-image: url(""); /*need photo maybe*/
    background-repeat: no-repeat;
    background-size: cover;
}


/*Border styling for devoured burgers card and footer */
.devoured-card {  
    border-style: solid;
    border-color: #ca341f;
}